body {
  background-color: #3757c2;
}
.card {
  width: 28%;
  display: inline-block;
  border-radius: 10px;
  background-color: white;
  transition: 0.4s;
  margin: 20px;
  border: 1 solid #222222;
}
img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  display: block;
  justify-content: center;
  align-items: center;
}
p {
  font-size: 16px;
  color: #626262;
  margin: 10px 0px;
  padding: 20px;
  font-famlily: Arial;
}
a {
  display: inline-block;
  text-decorition: none;
  padding: 10 px 20px;
  color: white;
  background-color: #3d3c;
  text-transform: uppercase;
  font-size: 16px;
  font-family: Arial;
}
card:hover {
  width: 30%;
}
  box-shadow: 0 0 10px #222222;
